
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Lexend', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1;
    padding: 0 !important
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    height: 100%
}

body {
    background-color: #fff;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: .1;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 0
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
    color: #111
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    text-decoration: none;
    color: #111;
    opacity: .9
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    margin: 0 0 15px;
    color: #000
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    position: relative
}

h3 {
    font-size: 28px;
    font-weight: 500
}

h4 {
    font-size: 16px;
    font-weight: 400
}

*/p {
    margin: 0 0 10px
}

a,
a:visited,
a:focus {
    text-decoration: none;
    outline: 0
}

a:hover {
    text-decoration: underline;
    color: inherit
}

a.text-white:hover {
    text-decoration: none;
    color: #fff;
    opacity: .8
}

p a,
p a:visited {
    line-height: inherit
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ddd !important
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ddd !important
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ddd !important
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ddd !important
}

.bg-white {
    background-color: #fff
}

.bg-grey {
    background-color: #e3e8ee
}

.bg-red {
    background-color: #244873
}

.bg-dark {
    background-color: #232323
}

.bg-black {
    background-color: #1e3f6c
}

.text-white {
    color: #fff
}

.text-black {
    color: #333
}

.text-grey {
    color: #777
}

.text-red {
    color: #244873
}

.text-light {
    color: #fff;
    opacity: .6
}

.section-heading h2:before {
    left: calc(50% - 45px);
    bottom: -8px
}

.bd {
    border: 1px solid #ddd
}

.no-bd {
    border: 0
}

.bd-top {
    border-top: 1px solid #eaeaea
}

.bd-right {
    border-right: 1px solid rgba(255, 255, 255, .4)
}

.bd-bottom {
    border-bottom: 1px solid #eaeaea
}

.bd-bottom-white {
    border-bottom: 1px solid rgba(255, 255, 255, .4)
}

.bd-green {
    border: 1px solid #25d25c
}

.bd-top-dark {
    border-top: 1px solid #333
}

.display-table {
    width: 100%;
    height: 100%;
    display: table
}

.table-cell {
    display: table-cell;
    vertical-align: middle
}

.display-block {
    display: block
}

.display-inline-block {
    display: inline-block
}

.bdrs-2 {
    border-radius: 2px
}

.bdrs-3 {
    border-radius: 3px
}

.bdrs-4 {
    border-radius: 4px
}

.bdrs-5 {
    border-radius: 5px
}

.bdrs-10 {
    border-radius: 10px
}

.bdrs-50 {
    border-radius: 50%
}

.img-w-50 {
    width: 80px
}

.img-w-80 {
    width: 80px;
    height: 80px
}

.img-w-90 {
    width: 90px;
    height: 90px
}

.img-w-100 {
    width: 197px
}

.img-w-120 {
    width: 120px;
    height: 120px
}

.img-w-150 {
    width: 150px;
    height: 150px
}

.lh-40 {
    line-height: 40px
}

.lh-60 {
    line-height: 60px
}

.lh-80 {
    line-height: 80px
}

.lh-90 {
    line-height: 90px
}

.lh-100 {
    line-height: 100px
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.box-shadow {
    -webkit-box-shadow: 0 13px 20px rgba(0, 0, 0, .2);
    box-shadow: 0 13px 20px rgba(0, 0, 0, .2)
}

.box-shadow-dark {
    -webkit-box-shadow: 1px 1px 10px 0 #999;
    box-shadow: 1px 1px 10px 0 #999
}

.tt-u {
    text-transform: uppercase
}

.tt-c {
    text-transform: capitalize
}

.tt-l {
    text-transform: lowercase
}

.padding {
    padding: 80px 0
}

.padding-100 {
    padding: 100px 0
}

.padding-120 {
    padding: 120px 0
}

.padding-110 {
    padding: 80px 120px
}

.no-padding {
    padding: 0
}

.padding-5 {
    padding: 5px
}

.padding-10 {
    padding: 10px
}

.padding-15 {
    padding: 15px
}

.padding-20 {
    padding: 20px
}

.padding-25 {
    padding: 25px
}

.padding-30 {
    padding: 30px
}

.padding-35 {
    padding: 35px
}

.padding-40 {
    padding: 40px
}

.padding-50 {
    padding: 50px
}

.padding-60 {
    padding: 60px
}

.padding-80 {
    padding: 80px
}

.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.ptb-25 {
    padding-top: 25px;
    padding-bottom: 25px
}

.ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px
}

.ptb-35 {
    padding-top: 35px;
    padding-bottom: 35px
}

.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px
}

.ptb-45 {
    padding-top: 45px;
    padding-bottom: 45px
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px
}

.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px
}

.ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px
}

.ptb-90 {
    padding-top: 90px;
    padding-bottom: 90px
}

.ptb-95 {
    padding-top: 95px;
    padding-bottom: 95px
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px
}

.ptb-105 {
    padding-top: 100px;
    padding-bottom: 100px
}

.ptb-110 {
    padding-top: 100px;
    padding-bottom: 100px
}

.ptb-115 {
    padding-top: 115px;
    padding-bottom: 115px
}

.ptb-120 {
    padding-top: 115px;
    padding-bottom: 115px
}

.ptb-125 {
    padding-top: 115px;
    padding-bottom: 115px
}

.ptb-140 {
    padding-top: 140px;
    padding-bottom: 140px
}

.pb-5 {
    padding-bottom: 5px
}

.pb-10 {
    padding-bottom: 10px
}

.pb-15 {
    padding-bottom: 15px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-25 {
    padding-bottom: 25px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-35 {
    padding-bottom: 35px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-45 {
    padding-bottom: 45px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-55 {
    padding-bottom: 55px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-80 {
    padding-bottom: 80px
}

.pt-5 {
    padding-top: 5px
}

.pt-10 {
    padding-top: 10px
}

.pt-15 {
    padding-top: 15px
}

.pt-20 {
    padding-top: 20px
}

.pt-25 {
    padding-top: 25px
}

.pt-30 {
    padding-top: 30px
}

.pt-35 {
    padding-top: 35px
}

.pt-40 {
    padding-top: 40px
}

.pt-45 {
    padding-top: 45px
}

.pt-50 {
    padding-top: 50px
}

.pt-55 {
    padding-top: 55px
}

.pt-60 {
    padding-top: 60px
}

.pl-30 {
    padding-left: 30px
}

.pl-35 {
    padding-left: 35px
}

.pl-40 {
    padding-left: 40px
}

.pl-45 {
    padding-left: 45px
}

.pl-50 {
    padding-left: 50px
}

.margin-auto {
    margin: 0 auto
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-45 {
    margin-bottom: 45px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-55 {
    margin-bottom: 55px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-100 {
    margin-bottom: 100px
}

.mt-5 {
    margin-top: 5px
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: 35px
}

.mt-40 {
    margin-top: 40px
}

.mt-45 {
    margin-top: 45px
}

.mt-50 {
    margin-top: 50px
}

.mt-55 {
    margin-top: 55px
}

.mt-60 {
    margin-top: 60px
}

.minus-mlr {
    margin: 0 -15px
}

.minus-mtb {
    margin: -15px 0
}

.minus-ml-15 {
    margin-left: -15px
}

.minus-mr-15 {
    margin-right: -15px
}

.minus-mt-20 {
    margin-top: -20px
}

.minus-mt-30 {
    margin-top: -30px
}

.minus-mt-40 {
    margin-top: -40px
}

.minus-mt-50 {
    margin-top: -50px
}

.minus-mt-60 {
    margin-top: -60px
}

.mius-mr-15 {
    margin-right: -15px
}

.no-margin {
    margin: 0 !important
}

.ml-10 {
    margin-left: 10px
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px
}

.ml-100 {
    margin-left: 100px
}

.mr-10 {
    margin-right: 10px
}

.mr-15 {
    margin-right: 15px
}

.mr-20 {
    margin-right: 20px
}

.mr-25 {
    margin-right: 25px
}

.fz-10 {
    font-size: 10px;
    line-height: 18px
}

.fz-11 {
    font-size: 11px;
    line-height: 18px
}

.fz-12 {
    font-size: 12px;
    line-height: 20px
}

.fz-13 {
    font-size: 13px;
    line-height: 25px
}

.fz-14 {
    font-size: 14px
}

.fz-15 {
    font-size: 15px
}

.fz-16 {
    font-size: 16px
}

.fz-17 {
    font-size: 17px
}

.fz-18 {
    font-size: 18px
}

.fz-19 {
    font-size: 19px
}

.fz-20 {
    font-size: 20px
}

.fz-21 {
    font-size: 21px
}

.fz-22 {
    font-size: 22px
}

.fz-23 {
    font-size: 23px
}

.fz-24 {
    font-size: 24px
}

.fz-25 {
    font-size: 25px
}

.fz-26 {
    font-size: 26px
}

.fz-27 {
    font-size: 27px
}

.fz-28 {
    font-size: 28px
}

.fz-29 {
    font-size: 29px
}

.fz-30 {
    font-size: 30px
}

.fz-35 {
    font-size: 35px
}

.fz-40 {
    font-size: 40px
}

.fz-45 {
    font-size: 45px
}

.fz-50 {
    font-size: 50px
}

.fz-55 {
    font-size: 55px
}

.fz-60 {
    font-size: 60px
}

.fw-3 {
    font-weight: 300
}

.fw-4 {
    font-weight: 400
}

.fw-5 {
    font-weight: 500
}

.fw-6 {
    font-weight: 600
}

.fw-7 {
    font-weight: 700
}

.height-300 {
    height: 300px
}

.height-500 {
    height: 500px
}

.height-550 {
    height: 550px
}

.height-600 {
    height: 600px
}

.height-650 {
    height: 650px
}

.height-700 {
    height: 700px
}

.height-750 {
    height: 750px
}

a,
a:hover,
img,
button {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.img-w1,
.img-w1 img {
    width: 100%
}

.img-w9 img {
    width: 90%
}

.img-w5 img {
    width: 50%
}

.bg-img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover
}

.pos-relative {
    position: relative
}

.pos-absolute {
    position: absolute
}

.pos-inherit {
    position: inherit
}

.ov-hidden {
    overflow: hidden
}

.b-btn {
    background-color: #244873;
    display: inline-block;
    padding: 10px 30px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    font-weight: 300
}

.b-btn:hover {
    background-color: #113663;
    color: #fff;
    text-decoration: none
}

.btn-white {
    background-color: #fff;
    display: inline-block;
    padding: 10px 30px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #fff;
    text-align: center;
    color: #777;
    border-radius: 2px;
    font-weight: 300
}

.btn-white:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: none
}

.dl-btn {
    background-color: #244873;
    display: inline-block;
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #244873;
    text-align: center;
    border-radius: 28px;
    color: #fff;
    font-weight: 300
}

.dl-btn:hover {
    background-color: transparent;
    color: #244873;
    text-decoration: none
}

.learn-more {
    color: #fff
}

.learn-more:hover {
    text-decoration: underline
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    background: #fff;
    height: 100%;
    width: 100%;
    -webkit-transition: all .5s .5s ease;
    -moz-transition: all .5s .5s ease;
    transition: all .5s .2s ease
}

.loader {
    position: relative;
    width: 150px;
    height: 150px;
    display: block;
    margin: auto
}

.loader .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%)
}

body.loaded #preloader {
    opacity: 0;
    visibility: hidden
}

.owl-nav-1 .owl-nav div {
    background-color: rgba(255, 255, 255, 1);
    display: block;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #25d25c;
    font-size: 13px;
    position: absolute;
    border: 1px solid #b7b7b7;
    left: -70px;
    top: calc(50% - 30px);
    opacity: .5;
    transition: all .3s linear
}

.owl-nav-1 .owl-nav div.owl-next {
    left: auto;
    right: -70px
}

.owl-nav-1 .owl-nav div:hover {
    opacity: 1;
    transition: all .3s linear
}

.owl-nav-2 .owl-nav div {
    background-color: #244873;
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #FFF;
    box-shadow: 1px 1px 10px 0 #111;
    font-size: 18px;
    position: absolute;
    left: -20px;
    top: calc(50% - 20px);
    transition: all .3s linear
}

.owl-nav-2 .owl-nav div.owl-next {
    left: auto;
    right: -20px
}

.owl-dots-1 .owl-dots {
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -60px
}

.owl-dots-1 .owl-dots div {
    background-color: #bbb;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    transition: all .3s linear
}

.owl-dots-1 .owl-dots div.active {
    background-color: #244873;
    transition: all .3s linear
}

.owl-dots-1.dots-blue .owl-dots div.active {
    background-color: #fab702
}

.carousel-padding .owl-stage-outer {
    padding: 8px
}

.list-check li {
    display: block;
    font-size: 13px;
    color: #111;
    padding-left: 30px;
    position: relative;
    margin-bottom: 8px
}

.list-check li:before {
    font-family: 'themify';
    content: "\e64c";
    font-size: 16px;
    color: #244873;
    position: absolute;
    left: 0;
    top: 0
}